@charset "utf-8";
/* CSS Document */

      body {
        padding-top: 20px;
        padding-bottom: 60px;		
				background:url(../img/neetBg.png) repeat;
      }

.logo
{
	float:left;
	width: 25%;
	color:#FFF;

}

.clear-fix
{
	clear:both;
}

.page-title
{
	margin-top:100px;
}
      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;

      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
	  .navbar{
		  width:70%;
		  float:right;

	  }
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);

      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }


.span2
{
	margin-right: 33px;
}
.span4 img, .span4 .btn
{
	margin-left: 100px;
}

.span4 h4
{
	text-align:center;
}

.span4 p
{
	text-align:justify;
}

.footer a
{
	float:right;
	margin-right: 10px;
}